body {
	background-color: rgb(40, 43, 41);
}

h1 {
	font-family: "Lucida Handwriting";
}
#content {
     margin-left: 20px;
}

.words{
color:white;
}

.button {
	background-color: rgb(101, 184, 247);
	margin: 10px;
	padding: 10px;
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.button:hover {
  background-color: rgb(53, 107, 148);
  color: white;
}

.blogs{
	background-color: rgb(55, 59, 56);
  	 border: 5px solid white;
  	padding: 50px;
  	margin: 20px;
}


.post-box{
	display: none;
	background-color: white;
	background-size: 450px 100px;
  	padding: 50px;
  	margin: 20px;
}

#message {
	visibility: hidden;
}

#commentbox{
	visibility: hidden;
}