{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
  <h1>Home</h1>
</div>

<p>Welcome to our forum! This site is meant for people to either share their own war stories or those of 
other people they know personally or know of. Users are able to talk about both the gruesome and gory parts
of war and the powerful stories of heroes. They are also able to share the metals and awards that were
received along the way. Have fun discovering the wonders and experiences of war life!</p>

<div class="container mt-3">
  {% for post in posts %}
  <div class="card-header">
  {{ post.Author|e }}
  </div>
	<div class="card">
		<div class="card-body">{{ post.Text|e }}</div>
		<button type="button" class="btn btn-warning" style="width: 10%;">Save</button>
	</div>
  {% endfor %}
</div>
	
{% endblock %}
