{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
  <h1>Home</h1>
</div>

<p>Welcome to our forum! This site is meant for people to either share their own war stories or those of 
other people they know personally or know of. Users are able to talk about both the gruesome and gory parts
of war and the powerful stories of heroes. They are also able to share the metals and awards that were
received along the way. Have fun discovering the wonders and experiences of war life!</p>

<div id="message" class="d-flex justify-content-center align-items-center">
  <div class="alert alert-info w-25">
	<strong>Hi There!</strong> Make sure to log in before saving or creating posts!
  </div>
</div>

<div class="container mt-3">
  {% for post in posts %}
  <div class="card-header">
  {{ post.Author|e }}
  </div>
	<div class="card">
		<div class="card-body">{{ post.Text|e }}</div>

		
		<form action="/addcomments" method="post">
  			<label for="prompt">Comments</label>
  			<br>
  			<textarea class="form-control" rows="3" id="comment" name="comments"></textarea>
  			<br>
  			<input type="hidden" name="post.id" value= "{{ post._id|e }}">
  			<input type="submit" value="Submit">
		</form>
		
		{% for comments in post.Comments %}
		{{ comments.user|e }}
		<br>
		{{ comments.text|e }} 
		{% endfor %}
		
		<br>
  
		{% if logged_in %}
			<form action="/savepost" method = "post">
				<input type="hidden" name="post.id" value="{{ post._id|e }}">
				<button type="submit" class="btn btn-warning" style="width: 10%;" name="savepost" value="submit" >Save</button>
			</form>
		{% else %}
			<button type="button" id="login" class="btn btn-warning" style="width: 10%;" name="savepost" value="submit" >Save</button>
		{% endif %}

	</div>
  {% endfor %}
</div>
	
{% endblock %}
