{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
  <h1>Saved Posts</h1>
</div>

<div class="container mt-3">
  {% for savedposts in savedposts %}
  <div class="card-header">
  {{ savedposts.Author|e }}
  </div>
	<div class="card">
		<div class="card-body">{{ savedposts.Text|e }}</div>
		<form action = "/unsavepost" method="post">
		<input type="hidden" name="post.id" value="{{ savedposts._id|e }}">
		<button type="submit" class="btn btn-warning" style="width: 10%;" name="unsavepost" value="submit" >Unsave</button>
		</form>
	</div>
  {% endfor %}
</div>
	
{% endblock %}